# ── App ───────────────────────────────────────────────────────────────────────
GEMINI_API_KEY=xxxx

# ── Domaine ───────────────────────────────────────────────────────────────────
MAIN_DOMAIN=apps.maikhub.com

# ── Traefik / Let's Encrypt ───────────────────────────────────────────────────
ACME_EMAIL=ton@email.com

# ── OVH DNS challenge (pour wildcard HTTPS) ───────────────────────────────────
# Créer les creds sur https://api.ovh.com/createToken/
OVH_ENDPOINT=ovh-eu
OVH_APPLICATION_KEY=xxxx
OVH_APPLICATION_SECRET=xxxx
OVH_CONSUMER_KEY=xxxx